.rodape {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    height:25em;
}
.blackFooter{
    background: black;
    margin:0% 0% 1.5% 0%;
    width:100%;
    height: 56px;
}
.imgCenter{
    margin:0 auto;
}
.imgAtual{
    transform: translate(15px, 3px) scale(1.2);
}
.f-subTitle{
    margin:0 auto;
    position:absolute;
    transform:translateY(-5px);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.grupo{
    width: calc(100vw - 157px);
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.linkGithub{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}

.direitos{
    width: 60%;
    margin:0 auto;
    padding:3% 0% 0% 0%;
    text-align: center;
    transform: translateY(-30px)
}
.ajustar{
    padding-top: 10px;
}