.rodape {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
}

.black{
    background: black;
    width:100%;
    height: 56px;
}
.imgTemporaria{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgAtual{
    transform: translateX(30px);
}
.f-subTitle{
    margin:0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.grupo{
    width: calc(100vw - 157px);
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.linkGithub{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}

.direitos{
    width: 60%;
    margin:0 auto;
    padding:3% 0% 0% 0%;
    text-align: center;
    transform: translateY(-30px)
}
.ajustar{
    padding-top: 10px;
}
