*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.App{
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas: "Header" "main" "Footer";
  min-height: 100vh;
  
}
Header{
  grid-area: Header;
  background-color: yellow;
}
main{
  grid-area: main;
}

Footer{
  grid-area: Footer;
  background-color: yellow;
}
.Titulo1{
        font-weight: bold;
        text-transform:uppercase;
        text-align: center;
        font-size: 30px;
        
}