*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.App{
  font-family: Montserrat;
}
Header{
  grid-area: Header;
  background-color: #FFE609;
}
main{
  grid-area: main;
}

Footer{
  grid-area: Footer;
  background-color: #FFE609;
}

/*===========================================================================================================
      ANIMAÇÃO DE PRELOAD       =============================================================================
=============================================================================================================*/
.invisivel{
  display: none;
}
.visivel{
  display: grid;
  grid-template-rows: 170px 1fr 25em;
  grid-template-areas: "Header" "main" "Footer";
  min-height: 100vh;
}
.loadingTrue{
  width:100%;
  height:100%;
}

.loadingTrue{
  width: 60px;
  height: 60px;
  margin: 25% 25% 25% 45%;
  border: 1em double #FFE609;
  border-top-color: black;
  border-radius: 50%;
  animation: loading 1s ease-out infinite;
}

@keyframes loading {
  to{
    transform: rotate(1turn);
  }
}